body{
  background-color: rgb(255	175	0);
}
.contacts-body{
  background: #777;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.cards {
  display: flex;
}
.card{
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 15px 2px
 rgba(black, 0.75);
  transition: 0.2s;
}
.card: not(:first-child) {
  margin-left: var(--distance);
}
.card:hover,
.card:focus-within {
  transform: translateY(-1rem);
}
.card:hover  ~ .card,
.card:focus-within ~ .card{
   transform: translateX(calc(var(--distance) * -1));
}
.Ashak{
  width: 350px;
  height: 200px;
  max-width: 100%
}
.Bolani{
  width: 350px;
  height: 200px;
  max-width: 100%
}
.Kebab{
  width: 350px;
  height: 200px;
  max-width: 100%
}
.Qabli{
  width: 350px;
  height: 200px;
  max-width: 100%
}
.Jalebi{
  width: 350px;
  height: 200px;
  max-width: 100%
}
