p{
  color: blue;
  font-style: italic;
  font-size: 24px;
}
h1{
  color: blue;

}
body{
  background-color: white;
  margin: 0;
}

.profile-picture{
  width: 350px;
  height: 350px;
  max-width: 100%

  }
  .header{
    overflow: hidden;
    background-color: green;
    padding: 20px 10px;
    text-align: center;
  }





.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

}
