p{
  color: blue;
  font-style: italic;
  font-size: 24px;
}
h1{
  color: blue;
  background-color: yellow;
}
body{
  background-color: white;
}

.profile-picture{
  width: 600px;
  max-width: 100%;
}
